<!DOCTYPE html>
<html>
<head>
	<title>Basic REST Blog</title>
	<!-- Semantic UI  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<!-- app.css is inside the public directory -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<!-- creating the navbar -->
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="/" class="header item"><i class="large signal icon"></i>Basic REST Blog</a>
			<a href="/" class="item">Home</a>
			<a href="/blogs/new" class="item">New Post</a>
		</div>
	</div>
	